@font-face {
    font-family: "CooperHewitt-Bold";
    src: url(fonts/CooperHewitt/CooperHewitt-Bold.woff) format("woff");
}

@font-face {
    font-family: "CooperHewitt-Heavy";
    src: url(fonts/CooperHewitt/CooperHewitt-Heavy.woff) format("woff");
}