@import 'bourbon/_bourbon';
@import 'neat/neat';

@import 'fonts';

$font-stack:  CooperHewitt-Heavy;
$primary-color: #333;

$grey-1: #F1F1F1;
$grey-2: #E5E5E5;
$grey-3: #CBCBCB;
$grey-4: #B2B2B2;
$grey-5: #989898;
$grey-6: #808080;
$grey-7: #666666;

* {
	margin: 0;
	padding: 0;
}

body {

	type-face: $font-stack;
  	color: $primary-color;
}

header {
	
	@include outer-container;
}

nav {
	border-bottom: 1px $grey-7;
}

nav:hover .title {
	opacity: 1;
	height: 100%;
}


a {
    text-decoration: none;
}

.parent:hover .child, .parent.hover .child { display: block; }

.title {
	@include transition(color 0.2s);
	@include transition(opacity 0.2s);
	opacity: 0;
	height: 0;

	
}

	@media screen and (min-width: 1024px) {
		h1 {
    		font-size: 2em;
		}
  	}

  	@media screen and (max-width: 880px) {
		h1 {
    		font-size: 1.5em;
		}
  	}

  	@media screen and (max-width: 640px) {
		h1 {
    		font-size: 1em;
		}
  	}

.title:active {
	
}

.title:hover {
	color: $grey-4;
    text-decoration: underline;
}

.title-1 {
	@extend .title;
	color: $grey-2;
}

.title-2 {
	@extend .title;
	color: $grey-2;
}

.title-3 {
	@extend .title;
	color: $grey-2;
}

.title-4 {
	@extend .title;
	color: $grey-2;
}



main {
	@include outer-container;
}
